@import url('https://fonts.cdnfonts.com/css/bimbo');

body {
  margin: 0;
  background: radial-gradient(circle at 100%, #4603b1, #6b58b3 50%, #e24687 75%, #0f040e 75%);
}
.hidden {
  display: none;
}

.landingpage {
  margin: 0 auto;
  padding: 0 80px;
  position: relative;
  max-width: 1100px;
  overflow-y: auto;
  overflow-x: hidden;
}
.landingpage::before {
  content: "";
  position: absolute;
  width: 123px;
  height: 123px;
  left: 60%;
  top: 138px;
  filter: blur(90px);
  background-color: #fa2bfd;
}
.landingpage::after {
  content: "";
  position: absolute;
  width: 123px;
  height: 123px;
  left: 80%;
  top: 550px;
  background-color: #04c7fd;
  filter: blur(80px);
}
.landingpage .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}
.landingpage .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.landingpage .auction {
  margin-top: 100px;
}
.landingpage .discover {
  display: flex;
  flex-direction: column;
}
.landingpage .footer {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landingpage .footer2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-top: 1px solid #F2F2F2;
}
